@font-face {
  font-family: NunitoRegular;
  src: url("../fonts/Nunito/NunitoSans_7pt_Condensed-Regular.woff");
}
@font-face {
  font-family: NunitoSemiBold;
  src: url("../fonts/Nunito/NunitoSans_7pt_Condensed-SemiBold.woff");
}
@font-face {
  font-family: NunitoLight;
  src: url("../fonts/Nunito/NunitoSans_7pt_Condensed-Light.woff");
}
@font-face {
  font-family: NunitoMedium;
  src: url("../fonts/Nunito/NunitoSans_7pt_Condensed-Medium.woff");
}
@font-face {
  font-family: NunitoBold;
  src: url("../fonts/Nunito/NunitoSans_7pt_Condensed-Bold.woff");
}
body {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: NunitoRegular;
}

.div-container {
  display: flex;
  justify-content: center;
  padding: 40px 100px;
  border-radius: 5% 5%;
}

.row {
  --bs-gutter-x: 0;
}

.svg-inline {
  margin: 0;
}

.navbar-setup {
  justify-content: space-around;
  height: 120px;
  background-color: #f9f5f3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar-brand-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar > .container {
  margin: 10px;
  width: 100%;
  justify-content: space-between;
}

.navbar-expand-lg {
  justify-content: center;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
  height: 100%;
}

.navbar-div-collapse {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logoNavbar {
  margin-left: 25px;
}

.navbar-brand {
  padding: 0;
}

.container-navbar-search {
  position: relative;
  width: 200%;
  height: 52.5px;
  border-radius: 30px 30px;
  max-width: 750px;
  transition: all 0.5s;
}
.container-navbar-search:hover {
  transform: translate(0, -2px);
  box-shadow: 5px 5px 10px #d1c6c3;
}

.rounded-navbar-input {
  height: 100%;
  width: 100%;
  border-radius: 30px 30px;
  border: 0;
  padding: 5px 20px;
}

.btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 30px 30px;
  width: 170px;
  font-size: 18px;
  border: 0;
  z-index: 1;
  transition: all 0.2s ease-out;
}
.btn:hover {
  transform: scale(1.05);
}

span {
  font-size: 1rem;
  font-family: NunitoSemiBold;
  letter-spacing: -0.5px;
}

.navbar-text {
  height: 100%;
}

.container-navbar-text {
  width: 300px;
}
.container-navbar-text__button {
  border: 0;
  background-color: transparent;
  transition: all 0.5s;
}
.container-navbar-text__button:hover {
  background-color: #f2efee;
}

.rounded-navbar-input::-moz-placeholder {
  color: #615551;
}

.rounded-navbar-input::placeholder {
  color: #615551;
}

.icon-search {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  color: white;
}

.icon-bookmark {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  color: #f38e82;
}

.container-components {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.results {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  min-height: 120vh;
}
.results__buttonContainer {
  height: 90px;
}
.results__buttonContainer-button {
  font-family: NunitoBold;
  background-color: #f9f5f3;
  border-radius: 30px 30px;
  width: 100px;
  color: #f38e82;
  font-size: 14px;
  border: 0;
  transition: all 0.2s ease-out;
}
.results__buttonContainer-button:hover {
  transform: scale(1.05);
}

.recipeFound {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.recipe-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: NunitoLight;
  height: 150px;
}
.recipe-message .recipe-message-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.recipe-message .icon-smile {
  color: #f38e82;
  width: 30px;
  height: 30px;
}
.recipe-message p {
  width: 50%;
  font-size: 1.2rem;
}

.icon-recipe-container {
  height: 50px;
  margin-right: 10px;
}

.container-recipes {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0 15px 0px;
  transition: transform 0.3s;
}
.container-recipes:hover {
  background-color: #f9f5f3;
  cursor: pointer;
  transform: translate(0, -5px);
}
.container-recipes img {
  height: 60px;
  width: 60px;
  border-radius: 50% 50%;
}
.container-recipes h3 {
  font-size: 1rem;
  font-family: NunitoRegular;
  color: #f38e82;
  margin: 0;
}
.container-recipes p {
  font-family: NunitoSemiBold;
  color: #918581;
  font-size: 0.8rem;
  margin: 0;
}

.recipe {
  background-color: #f9f5f3;
  font-family: NunitoRegular;
  min-height: 120vh;
}
.recipe img,
.recipe button {
  border: 0;
  background-color: transparent;
}
.recipe__container {
  position: relative;
  width: 100%;
}
.recipe__container-overflowImage {
  overflow: hidden;
}
.recipe__container-textImage {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60%;
  transform: translate(-50%, 20%) skewY(-6deg);
  text-align: center;
}
.recipe__container-textImage--text {
  color: white;
  font-size: 36px;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  z-index: 5;
  padding: 20px;
  line-height: 2;
}
.recipe .img-recipe {
  position: relative;
  height: 320px;
  opacity: 0.6;
  transform: scale(1.2);
}
.recipe .logo {
  width: 60px;
  height: 60px;
  color: #f38e82;
}
.recipe .preparation {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 160px;
  padding: 0px 30px;
}
.recipe .preparation .preparation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.recipe .preparation .icon-plus-minus {
  transition: all 0.2s ease-out;
}
.recipe .preparation .icon-plus-minus:hover {
  transform: translate(0, -5px);
}
.recipe .preparation .icon-bookmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  height: 45px;
  width: 45px;
  border-radius: 50% 50%;
  transition: all 0.2s ease-out;
}
.recipe .preparation .icon-bookmark-container:hover {
  transform: scale(1.05);
}
.recipe .preparation .number {
  font-family: NunitoBold;
  letter-spacing: 1px;
  font-size: 18px;
  margin-right: 5px;
}
.recipe .preparation .text {
  font-family: NunitoRegular;
  font-size: 18px;
  margin-right: 5px;
}
.recipe .preparation .spacer {
  width: 150px;
}

.div-image-text {
  position: absolute;
}

.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 0;
  background-color: #f2efee;
}

.listIngredients {
  padding: 25px;
}
.listIngredients .listIngredients__singleIngredient {
  font-size: 12px;
  padding: 15px;
}

.cooking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.cooking__title {
  font-size: 1.5rem;
}
.cooking__paragraph {
  color: #918581;
  text-align: center;
}
.cooking__button {
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 30px 30px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  border: 0;
  color: white;
  transition: all 0.2s ease-out;
}
.cooking__button:hover {
  transform: scale(1.05);
}

.modal-content {
  width: 900px;
  height: 900px;
}

.form-recipe {
  padding: 30px;
}

@media screen and (min-device-width: 0) and (max-device-width: 576px) {
  .div-container {
    padding: 30px;
  }
  .navbar-setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #f9f5f3;
  }
  .navbar-div-collapse {
    width: auto;
    height: auto;
  }
  .container-navbar-search {
    width: 100%;
  }
  .container-components {
    min-width: none;
    max-width: none;
  }
  .navbar-brand-container {
    display: flex;
    justify-content: center;
    width: auto;
  }
  .results {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 30vh;
    overflow-y: hidden;
  }
  .recipe__container-textImage--text {
    font-size: 20px;
    padding: 10px;
  }
  .recipe .preparation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 30px;
  }
  .recipe .preparation .preparation-container {
    margin: 15px;
  }
}/*# sourceMappingURL=style.css.map */